@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color: rgb(27, 27, 27);
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto; 
    font-style: normal;
    background-image: url('../images/background.png');
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: center bottom;
}
button {
    border: 2px solid white;
    background: transparent;
    color: white;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: .6rem;
    font-weight: 600;
    transition: .3s;
    cursor: pointer;
}
button:hover{
    transform: scale(1.1);
    transition: .3s;

}

button.primary-btn{
    border: 0; 
    background-image: linear-gradient(to bottom right, #24D46B, #2EA7FF);
    color:black;
}
button.inline-btn{
    border: 0;
}
h2{
    color: #24D46B;
}
p {
    max-width: 500px;
    margin: 0 auto;
    line-height: 1.5;
    font-size: 0.8rem;
    opacity: .8;
    font-weight: 200;
}
strong{ 
    background: -webkit-linear-gradient(bottom right, #24D46B, #2EA7FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.container{
    text-align: center;
    max-width: 800px;
    padding: 10px ;
    margin: 0 auto;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
     
        max-width: 1200px;
    

}
header .container > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .container > div:first-child {
    justify-content: flex-start;
}
header .container > div:last-child {
    justify-content: flex-end;
}
header .container > div:last-child > button{
    margin-left:10px ;
    max-width: 150px;
    cursor: pointer;
}
header .container > div:last-child > span{
    margin-right:10px ;
     
     font-size: 12px;
}
.logo{
    transform: scale(1);
    max-height: 45px;
    transition: .2s;
    cursor: pointer;
}
.logo:hover{
    transform: scale(1.1);
    transition: .2s;

}
figure {
    background: #1a1a1a;
     
  
    border-radius: 20px;
    margin: 10px 0;
    padding: 0px ;
}
.img-fluid{
    width: 100%;
    max-width: 100%;
}
a.whatsBtn {
    position: absolute;
    bottom:30px;
    background: #24D46B;
    height: 20px;
    width: 20px;
    z-index: 9999;
    right: 20px;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 20px;
}
.myModal {
    background: #181818ad;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    display: none;
}
.myModal.show{
    display: flex;
}
.modal {
    /* display: none; */
    background: #1a1919;
    height: 80%;
    position: relative;
    width: 80%;
    top: 10%;
    left: 0;
    border-radius: 20px;
    padding: 20px;
    margin: 13px;
    max-width:800px;
    transform: scale(0);
    transition: .2s;

}
.modal.show{
    transform: scale(1);
    transition: .4s;

}
.modalfoo {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 25px;
}

.controls {
    margin: 35px auto 40px;
}
@media(max-width:768px){
    .gallery-itens {
        max-width: 85%;
        margin: 30px auto;
    }
    .hidden-xs{
        display: none !important;
    }
}
    @media(min-width:768px){
    
    header {
        padding: 5px;
    }  
    h1 {
        font-weight: 500;
        font-size: 2.5rem;
    }
    .logo{
        max-height: 30px;
    }
    p { 
       
        font-size: 1.0rem;
         
    }
    .gallery .container {
        text-align: center;
      
    }
    .gallery-itens{
        display: flex;
    }
    figure {
        width: 100%;
        margin: 10px;
        transition: .2s;
        cursor: pointer;
        
    }
    figure:hover {
        transform: scale(1.1);
        transition: .2s;
    }

    .modal {
        background: #1a1919;
        height: 60vh;
        position: relative;
        width: 80%;
        top: 10%;
    
        border-radius: 20px;
        padding: 20px;
    }
    .gallery-itens > div {
        padding: 10px;
    }
    
}

